# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# Databases (BOTH folders)
database/
sqlite3/
*.db

# IDE
.vscode/

# Environment variables
.env

# Uploaded photos
static/photos/

